# **Credit Card Customer Churn Analysis (ETL Pipeline)**

## Objectives (ETL)

In this notebook I will be running through the entire ETL pipeline. The goal here is to process the raw dataset so it is ready for the next stages: EDA(exploratory data analysis) & so i can import the processed dataset into PowerBi to cree=ate interactive dashboards which will be presented to both technical and non-technical stakeholders.  

## Hypotheses

* **H1:** Customers with shorter tenure are more likely to churn compared to customers with longer tenure.
* **H2:** Customers with lower credit utilisation ratios are more likely to churn than customers with higher utilisation ratios.
* **H3:** Churn rates differ significantly across income categories.




## Inputs

The inputs required to run this notebook are:

* A CSV file containing Credit Card Customer Churn dataset sourced from Kaggle.
* Python libraries including but not limited to Scikit-Learn, pandas, Numpy, matplotlib, and seaborn.

## Outputs
The outputs generated by this notebook include:

* Cleaned and processed DataFrame(s)
* Feature Engineered columns needed for hypothesis testing

---

# Section 1: Data Loading and Initial Exploration (Extract)

In this section, I will load the raw credit card churn dataset and perform an initial exploration to understand the structure, data types, and basic characteristics of the data.

In [1]:
# Import the pandas library for data manipulation
import pandas as pd 

# Load the dataset into a DataFrame
df = pd.read_csv("../data/raw_data/BankChurners.csv") 

# Check info and missing values
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

CLIENTNUM                                                                                                                             0
Attrition_Flag                                                                                                                        0
Customer_Age                                                                                                                          0
Gender                                                                                                                                0
Dependent_count                                                                                                                       0
Education_Level                                                                                                                       0
Marital_Status                                                                                                                        0
Income_Category                                                                                                                       0
Card_Category                                                                                                                         0
Months_on_book                                                                                                                        0
Total_Relationship_Count                                                                                                              0
Months_Inactive_12_mon                                                                                                                0
Contacts_Count_12_mon                                                                                                                 0
Credit_Limit                                                                                                                          0
Total_Revolving_Bal                                                                                                                   0
Avg_Open_To_Buy                                                                                                                       0
Total_Amt_Chng_Q4_Q1                                                                                                                  0
Total_Trans_Amt                                                                                                                       0
Total_Trans_Ct                                                                                                                        0
Total_Ct_Chng_Q4_Q1                                                                                                                   0
Avg_Utilization_Ratio                                                                                                                 0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    0
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    0
dtype: int64

### The above output shows:

* No missing values — all 10,127 rows are complete.
* All columns have data — no nulls.
* Data types look correct for now: integers, floats, objects (categorical).

---

# Section 2: Feature engineering (Transform) & saving transformed dataset into a proccessed fike (Load)

Section 2 content

In [2]:
# Drop unnecessary columns
df = df.drop(columns=[
    'CLIENTNUM',
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'
])

In [3]:
# Encode target variable
df['Attrition_Flag'] = df['Attrition_Flag'].map({'Existing Customer': 0, 'Attrited Customer': 1})

In [4]:
# Feature engineering
df['Tenure_Months'] = df['Months_on_book']
df['Avg_Trans_per_Month'] = df['Total_Trans_Amt'] / df['Months_on_book']
df['Credit_Utilization'] = df['Total_Trans_Amt'] / df['Credit_Limit']
df = df.drop(columns=['Months_on_book'])

In [5]:
# Encode categorical features
categorical_cols = ['Gender', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category']
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True)

In [6]:
# Check processed dataset
df.head()

,Attrition_Flag,Customer_Age,Dependent_count,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Marital_Status_Single,Marital_Status_Unknown,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,0,45,3,5,1,3,12691.0,777,11914.0,1.335,...,False,False,False,True,False,False,False,False,False,False
1,0,49,5,6,1,2,8256.0,864,7392.0,1.541,...,True,False,False,False,False,True,False,False,False,False
2,0,51,3,4,1,0,3418.0,0,3418.0,2.594,...,False,False,False,False,True,False,False,False,False,False
3,0,40,4,3,4,1,3313.0,2517,796.0,1.405,...,False,True,False,False,False,True,False,False,False,False
4,0,40,3,5,1,0,4716.0,0,4716.0,2.175,...,False,False,False,True,False,False,False,False,False,False

---

In [7]:
# Save processed dataset
df.to_csv("../data/cleaned_data/credit_churn_processed.csv", index=False)

---

## ETL Process Overview

* Import Libraries: Loaded pandas for data manipulation.
* Load Dataset: Imported raw CSV into a DataFrame.
* Inspect Dataset: Checked column types and missing values.
* Drop Columns: Removed IDs and precomputed Naive Bayes columns.
* Encode Target: Converted Attrition_Flag to numeric (0 = active, 1 = churned).
* Feature Engineering: Added Tenure_Months, Avg_Trans_per_Month, and Credit_Utilization.
* Encode Categorical: Applied one-hot encoding for categorical features.
* Save Processed Data: Exported cleaned dataset for EDA, ML, and dashboard.